/* copy */
.copy-text{
    font-size: 20px;    
    right: 29px;  
    border-radius: 5px;  
    padding: 3px 7px;
    font-weight: 500;
    bottom: 1px;
  }

  mat-icon.copy-icon:hover{
    cursor: pointer;
  }

  mat-icon.copy-icon{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;   
  }
  /* /copy */

  .disabled {
    pointer-events: none;    
  }

  .primary-admin{
    border-radius: 5px;
  }

  /* lock icon */
.lock.material-icons{
  font-size: 20px !important;
}

/* note */
.info{
  border: 1px solid #096e0999;
  background-color: #096e0933;
  color:#096e09 ;
  border-radius: 10px;
}
/* /note */