<section class="bg-light border-bottom border-light">
    <header
      class="container d-flex justify-content-between align-items-center py-3"
    >
      <div class="logo-font">
        <span class="text-dark fw-bold">Choice</span>
        <span class="text-primary">Chase</span>
      </div>
      @if(isLoginPage()){
        <a 
        mat-flat-button
        href="https://www.google.com/"
        class="bg-dark py-3 shadow-sm button-mh-45"
        [routerLink]="['/admin-login-access']"
        ><mat-icon>celebration</mat-icon><span>Manage Rewards</span></a
      >
      }@else if(isSelectGiftPage()){
        <a mat-flat-button [routerLink]="['/employee-code']" class="bg-dark py-3 shadow-sm button-mh-45" (click)="logOut()" >
            <mat-icon>power_settings_new</mat-icon> <span>Logout</span></a>
      }@else if(isRewardClaimedPage()){
        <a mat-flat-button [routerLink]="['/employee-code']" class="bg-dark py-3 shadow-sm button-mh-45">
          <mat-icon>celebration</mat-icon> <span>Back to Home</span></a>
      }@else if(isHomePage()){
        <a mat-flat-button [routerLink]="['/employee-code']"
          class="bg-dark py-3 shadow-sm button-mh-45"><mat-icon>celebration</mat-icon> <span>Join Us
          </span></a>
      } 
        @else if(isAdminLoginPage()){
          <a
          mat-flat-button
          href="https://www.google.com/"
          class="bg-dark py-3 shadow-sm button-mh-45"
          [routerLink]="['/employee-code']"
          ><mat-icon>celebration</mat-icon><span>Access your Rewards</span></a
        >
        }       
    </header>
  </section>