<section class="bg-white border-bottom border-light">
  <header class="container d-flex justify-content-between align-items-center py-3">
    <div class="logo-font">
      <span class="text-dark fw-bold">Choice</span>
      <span class="text-primary">Chase</span>
    </div>
    <div>
      @if(isLoginPage()){
      <a mat-flat-button class="bg-dark py-3 shadow-sm button-mh-45"
        [routerLink]="['/admin-login-access']"><mat-icon>celebration</mat-icon><span>Manage Rewards</span></a>
      } @if(isSelectedGiftDetailsPage()){
      <div class="header-links d-flex align-items-center">
        <div class="d-flex align-items-center">
          <a mat-flat-button class="bg-dark py-3 shadow-sm button-mh-45 me-2" [routerLink]="['/upcoming-events']">
            <mat-icon>campaign</mat-icon>Upcoming Events</a>
          <div [matMenuTriggerFor]="notificationsMenu"
            class="mx-2 notification d-flex position-relative notification-outline">
            <mat-icon>notifications</mat-icon>
            <span *ngIf="unreadCount > 0" class="notification-badge position-absolute"></span>
          </div>
          <!-- Notifications Dropdown -->
          <mat-menu #notificationsMenu="matMenu">
            <ng-container *ngIf="notifications?.length; else noNotifications">
              <button mat-menu-item *ngFor="let notification of notifications" class="mb-3"
                (click)="updateNotifications(notification._id)"
                [ngClass]="{ 'unread-notification': !notification.isSeen }">
                <mat-icon class="me-2">notifications</mat-icon>
                <span class="fw-bold">{{ notification.message }}</span>
                <div>{{ notification.createdAt | date: 'dd/MM/yyyy, h:mm a' }}</div>
              </button>
            </ng-container>
            <!-- No Notifications Message -->
            <ng-template #noNotifications>
              <button mat-menu-item disabled>
                <span>No new notifications</span>
              </button>
            </ng-template>
          </mat-menu>
        </div>
        <div class="d-flex align-items-baseline">
          <!-- admin name -->
          <div [matMenuTriggerFor]="menu" class="mx-2 employee d-flex text-capitalize">
            <mat-icon>person</mat-icon>{{ loggedUser.name }}
          </div>
          <!-- mat menu -->
          <div>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <div [routerLink]="['/employee-code']" (click)="logOut()" class="d-flex">
                  <mat-icon class="dropdown-icon">power_settings_new</mat-icon>
                  <span>Logout</span>
                </div>
              </button>
            </mat-menu>
          </div>
          <!-- /mat menu -->
          <!-- /admin name -->
        </div>
      </div>
      } @else if(isSelectGiftPage()){
      <div class="header-links d-flex align-items-center">
        <div class="d-flex align-items-center">
          <a mat-flat-button class="bg-dark py-3 shadow-sm button-mh-45 me-2" [routerLink]="['/upcoming-events']">
            <mat-icon>campaign</mat-icon> Upcoming Events</a>
          <div [matMenuTriggerFor]="notificationsMenu" class="2 notification d-flex position-relative">
            <mat-icon>notifications</mat-icon>
            <span *ngIf="unreadCount > 0" class="notification-badge position-absolute"></span>
          </div>
          <!-- Notifications Dropdown -->
          <mat-menu #notificationsMenu="matMenu">
            <ng-container *ngIf="notifications?.length; else noNotifications">
              <button mat-menu-item *ngFor="let notification of notifications" class="mb-3"
                (click)="updateNotifications(notification._id)"
                [ngClass]="{ 'unread-notification': !notification.isSeen }">
                <mat-icon class="me-2">notifications</mat-icon>
                <span>{{ notification.message }}</span>
                <div>{{ notification.createdAt | date: 'dd/MM/yyyy, h:mm a' }}</div>
              </button>
            </ng-container>
            <!-- No Notifications Message -->
            <ng-template #noNotifications>
              <button mat-menu-item disabled>
                <span>No new notifications</span>
              </button>
            </ng-template>
          </mat-menu>
        </div>
        <div class="d-flex align-items-baseline">
          <!-- admin name -->
          <div [matMenuTriggerFor]="menu" class="mx-2 employee d-flex">
            <mat-icon>person</mat-icon>{{ loggedUser.name }}
          </div>
          <!-- mat menu -->
          <div>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <div (click)="openDialog()" class="d-flex">
                  <mat-icon class="dropdown-icon">comment</mat-icon>
                  <span>Suggestions</span>
                </div>
              </button>
              <button mat-menu-item>
                <div [routerLink]="['/employee-code']" (click)="logOut()" class="d-flex">
                  <mat-icon class="dropdown-icon">power_settings_new</mat-icon>
                  <span>Logout</span>
                </div>
              </button>
            </mat-menu>
          </div>
          <!-- /mat menu -->
          <!-- /admin name -->
        </div>
      </div>

      }@else if(isRewardClaimedPage()){
      <a mat-flat-button [routerLink]="['/employee-code']" class="bg-dark py-3 shadow-sm button-mh-45">
        <mat-icon>celebration</mat-icon> <span>Back to Home</span></a>
      }@else if(isHomePage()){
      <a mat-flat-button [routerLink]="['/employee-code']"
        class="bg-dark py-3 shadow-sm button-mh-45"><mat-icon>celebration</mat-icon> <span>Join Us </span></a>
      } @else if(isAdminLoginPage()){
      <a mat-flat-button href="https://www.google.com/" class="bg-dark py-3 shadow-sm button-mh-45"
        [routerLink]="['/employee-code']"><mat-icon>celebration</mat-icon><span>Access your Rewards</span></a>
      }
    </div>
  </header>
</section>
<!-- dialog -->
<ng-template #content>
  <form [formGroup]="suggestionsForm">
    <mat-dialog-content class="mb-3">
      <div class="text-center">
        <div>
          <h5 class="mb-0">Suggestions</h5>
        </div>
      </div>
      <div class="mt-4 px-2 pb-2">
        Do you have any thoughts you'd like to share?
      </div>
      <mat-form-field appearance="outline" class="d-block input-lg input">
        <textarea matInput formControlName="productDescription" rows="5" class="w-100"></textarea>
        <mat-error *ngIf="
            suggestionsForm.get('productDescription')?.hasError('required')
          ">
          This is required.
        </mat-error>
        <mat-error *ngIf="
            suggestionsForm.get('productDescription')?.hasError('maxlength')
          ">
          Maximum 200 characters allowed.
        </mat-error>
      </mat-form-field>
      <!-- /form -->
    </mat-dialog-content>
    <mat-dialog-actions class="d-flex border-top border-light">
      <button mat-flat-button class="bg-danger py-3 shadow-sm button-mh-45 me-2" [mat-dialog-close]="true">
        <mat-icon>close</mat-icon> <span>Decline </span>
      </button>
      <button mat-flat-button class="bg-success py-3 shadow-sm button-mh-45" (click)="send()">
        <mat-icon>check</mat-icon> <span>Send </span>
      </button>
    </mat-dialog-actions>
  </form>
</ng-template>

<!-- /dialog -->