/* main section */
.main-section {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

/* title lg */
.title-lg {
    font-weight: bold;
    margin-bottom: 15px;
}

/* btn lg */
.btn-lg {
    height: 60px;   
    width: 100%;   
    color: white !important;
    background-color: #000 !important;
    border-radius: 0px !important;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 18px;
    border-radius: 3px !important;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-top: 25px;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

/* paragraph text */
.paragraph-text {
    width: 500px;
}