.mat-input-element {
  font-size: medium;
  font-weight: 200;
}

#fileInput {
  position: absolute;
  cursor: pointer;
  z-index: 10;
  opacity: 0;
  height: 100%;
  left: 0px;
  top: 0px;
}

.mat-toolbar-single-row {
  height: auto !important;
  background: transparent;
  padding: 0;
}

.mat-toolbar-single-row button {
  width: 100px;
}

.mat-form-field {
  width: 100%;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: rgb(255, 255, 255) !important;
}

.mat-mdc-card-outlined {
  background-color: rgb(214, 214, 214);
}

.mat-mdc-card-content:last-child {
  display: flex;
}

.imageName-row {
  width: 100%;
}

.mat-mdc-form-field-textarea-control {
  min-height: 110px;
}





/* == reward css style == */
.badge {
  padding: 7px 14px;
  border-radius: 25px;
}

.product-reward-card .active-product-card {
  opacity: 0.05;
}

.product-reward-card {
  transition: all 0.3s ease-out;
}

.product-reward-card:hover {
  transform: scale(1.03);
}

button.button-mh-60.mat-mdc-button-disabled {
  color: white;
}









