<section class="container-fluid p-0">
    <!-- header section -->
    <section class="bg-light shadow-sm">
        <header class="container d-flex justify-content-between align-items-center py-3">
            <div class="logo-font">
                <span class="text-dark fw-bold">Choice</span>
                <span class="text-primary">Chase</span>
            </div>
            <div>
                <a mat-flat-button [routerLink]="['/employee-code']"
                    class="bg-dark py-3 shadow-sm button-mh-45"><mat-icon>celebration</mat-icon> <span>Join Us
                    </span></a>
            </div>
        </header>
    </section>
    <!-- /header section  -->
</section>
<!-- banner-section -->
<section class="container">
    <div class="row py-5 align-items-center">
        <div class="col-5">            
            <div class="banner-font fw-bold">
                Unlock Your <span class="text-primary">Gift,</span> Embrace the
                <span class="text-primary">Moment!</span>
              </div>
              <div class="mt-4">
                Discover a world of rewards made just for you! Enter your unique code
                and browse a curated selection of gifts tailored to bring joy. With
                every choice, a moment of celebration awaits. Whether it’s a small
                token or a grand surprise, your perfect gift is only a click away.
                Choose, click, and celebrate with ease!
              </div>
        </div>
        <div class="col-7">
            <div class="row">
                <div class="col-4 mb-4">
                    <mat-card class="banner-card banner-card-bg-1" appearance="outlined">
                        <img mat-card-image src="assets/images/banner-1.png" />
                        
                    </mat-card>
                </div>
                <div class="col-4 mb-4">
                    <mat-card class="banner-card banner-card-bg-2" appearance="outlined">
                        <img mat-card-image src="assets/images/banner-2.png" />                       
                    </mat-card>
                </div>
                <div class="col-4 mb-4">
                    <mat-card class="banner-card banner-card-bg-3" appearance="outlined">
                        <img mat-card-image src="assets/images/banner-3.png" />                       
                    </mat-card>
                </div>
                <div class="col-4">
                    <mat-card class="banner-card banner-card-bg-4" appearance="outlined">
                        <img mat-card-image src="assets/images/banner-4.png" />                        
                    </mat-card>
                </div>
                <div class="col-4">
                    <mat-card class="banner-card banner-card-bg-5" appearance="outlined">
                        <img mat-card-image src="assets/images/banner-5.png" />                        
                    </mat-card>
                </div>
                <div class="col-4">
                    <mat-card class="banner-card banner-card-bg-6" appearance="outlined">
                        <img mat-card-image src="assets/images/banner-6.png" />                        
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /banner-section -->
<!-- gift-section -->
<section class="container py-5">
    <div>
        <h1>New Arrivals</h1>
    </div>
    <div class="row">
        <div class="col-4">
            <mat-card class="example-card border border-0 bg-light gift-card" appearance="outlined">
                <mat-card-header>
                    <mat-card-title>
                        <h5>Best seller</h5>
                    </mat-card-title>
                </mat-card-header>
                <img mat-card-image src="assets/images/gift-card.png" />
                <mat-card-footer class="p-3">
                    <div>
                        <div>
                            <h5 class="mb-0">Copper Bottle</h5>
                        </div>
                        <div>stylish,eco-friendly</div>
                    </div>
                    <div>
                        <button mat-flat-button class="button-mh-60 w-100 my-3">Claim Gift</button>
                    </div>

                </mat-card-footer>
            </mat-card>
        </div>
        <div class="col-4">
            <mat-card class="example-card border border-0 bg-light gift-card" appearance="outlined">
                <mat-card-header>
                    <mat-card-title>
                        <h5>Best seller</h5>
                    </mat-card-title>
                </mat-card-header>
                <img mat-card-image src="assets/images/gift-card.png" />
                <mat-card-footer class="p-3">
                    <div>
                        <div>
                            <h5 class="mb-0">Copper Bottle</h5>
                        </div>
                        <div>stylish,eco-friendly</div>
                    </div>
                    <div>
                        <button mat-flat-button class="button-mh-60 w-100 my-3">Claim Gift</button>
                    </div>

                </mat-card-footer>
            </mat-card>
        </div>
        <div class="col-4">
            <mat-card class="example-card border border-0 bg-light gift-card" appearance="outlined">
                <mat-card-header>
                    <mat-card-title>
                        <h5>Best seller</h5>
                    </mat-card-title>
                </mat-card-header>
                <img mat-card-image src="assets/images/gift-card.png" />
                <mat-card-footer class="p-3">
                    <div>
                        <div>
                            <h5 class="mb-0">Copper Bottle</h5>
                        </div>
                        <div>stylish,eco-friendly</div>
                    </div>
                    <div>
                        <button mat-flat-button class="button-mh-60 w-100 my-3">Claim Gift</button>
                    </div>

                </mat-card-footer>
            </mat-card>
        </div>
    </div>
</section>
<!-- /gift-section -->

<section class="container-fluid p-0">
    <!-- footer section -->
    <section class="py-4 bg-dark shadow-sm text-white">
        <footer class="container">
            <div class="d-flex justify-content-center align-items-center pt-2">
                <mat-icon class="me-2">copyright</mat-icon> 2024 All rights are
                reserved by ChoiceChase.
            </div>
        </footer>
    </section>
    <!-- /footer section -->
</section>