/* == banner css style == */

.banner-card{
    border-radius: 20%;
}

.banner-card-bg-1{
    background-color: #efedfc;    
}

.banner-card-bg-2{
    background-color: #fff9ee;
    top: 10%; 
}

.banner-card-bg-3{
    background-color: #feefef;    
}

.banner-card-bg-4{
    background-color: #e8f4f1;
    top: -20%;  
}

.banner-card-bg-5{
    background-color: #feefd4;
    top: 10%;
}

.banner-card-bg-6{
    background-color: #e8f4f1;
    top: -20%;       
}

/* == reward css style == */
.badge{        
    padding: 7px 14px;
    border-radius: 25px;    
}