
<section class="container">
    <div class="row justify-content-center">
        <div class="col-5">
            <mat-card class="bg-white shadow-sm product-reward-card p-3" appearance="outlined">           
                <mat-card-content class="text-center">                    
                    <mat-icon>check_circle</mat-icon>
                    <div class="logo-font mt-5 mb-2">
                        Congratulations!
                    </div>
                    <div>You have successfully claimed the reward...</div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</section>

