<section class="container-fluid p-0">
<!-- header -->
<app-employee-header></app-employee-header>
 <!-- /header -->
</section>
<!-- main content -->
<section class="container-fluid bg-light h-100">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <mat-card class="bg-white shadow-sm p-3 confirmation-card position-absolute" appearance="outlined">
                    <mat-card-content class="text-center">
                        <img mat-card-image src="assets/images/success-message.png" />
                        <div class="bg-dark text-white mt-3 p-3 shadow-sm" style="border-radius: 12px;">
                            <div class="banner-font fw-bold">
                                Congratulations!
                            </div>
                            <div class="mt-4">Your Reward is confirmed...</div>
                            <div><a mat-flat-button [routerLink]="['/home']"
                                    class="bg-white text-dark py-3 shadow-sm button-mh-45 mt-4">
                                    <mat-icon>celebration</mat-icon> <span>Back to Home</span></a>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</section>
<!-- /main content -->
<!-- footer -->
<app-employee-footer></app-employee-footer>
<!-- /footer -->