<section class="container-fluid bg-light h-100">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <mat-card class="bg-white shadow-sm p-3 confirmation-card" appearance="outlined">
                    <mat-card-content class="text-center">
                        <img mat-card-image src="assets/images/success-message.png" />
                        <div class="bg-dark text-white mt-3 p-3 shadow-sm" style="border-radius: 12px;">
                            <div class="banner-font fw-bold">
                                Congratulations!
                            </div>
                            <div class="mt-4">Your Reward is confirmed</div>
                            <div><a href="#" class="text-white">Back to home</a></div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</section>