<section class="main-section">
    <div class="bg-gift-icon"></div>
    <div>
        <div class="main-title">
            <h4 class="title-lg">Welcome to Your <span>Rewards!</span> <span class="gif-bg"></span></h4>
            <p>Enter your employee code and discover your exclusive rewards!</p>
        </div>
        <h4 class="title-lg">Employee Code</h4>
        <mat-form-field appearance="outline" class="input-lg">
            <input matInput>
            <mat-icon matSuffix>redeem</mat-icon>
        </mat-form-field>
        <button mat-flat-button class="btn-lg">Submit</button>
        <a class="admin-access-link" [routerLink]="[ '/admin-login-access']">
            <span>Access Administrator Portal</span></a>
    </div>
</section>