<section class="main-section">
    <div class="bg-gift-icon"></div>
    <div>
        <div class="main-title">
            <h4 class="title-lg">Welcome to Your <span>Rewards!</span> <span class="gif-bg"></span></h4>
            <p>Enter your employee code and discover your exclusive rewards!</p>
        </div>
        <h4 class="title-lg">Employee Code</h4>
        <form [formGroup]="employeeCodeForm" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="outline" class="input-lg">
                <input matInput formControlName="employeeCode">
                <mat-icon matSuffix>redeem</mat-icon>
                @if (this.employeeCodeForm.get("employeeCode")?.hasError("required")) {
                <mat-error>This is required</mat-error> }
            </mat-form-field>
            <button mat-flat-button class="btn-lg" type="submit">Submit</button>
        </form>
        <a class="admin-access-link" [routerLink]="['/admin-login-access']">
            <span>Access Administrator Portal</span>
        </a>
    </div>
</section>