/* main section #f68d31 */
.main-section {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}
.bg-gift-icon{
    background-image: url(../../../assets/images/people-shopping.webp);
    background-repeat: no-repeat;    
    position: absolute;   
    right: 0;
    bottom: 0;
    height: 420px;
    width: 420px;
    background-size: contain;
}
/* main title */
.main-title{
    margin-bottom: 50px;
}

/* title lg */
.title-lg {
    font-weight: bold;
    margin-bottom: 5px;
}

/* input lg */
.input-lg {
    display: block !important;
}

.input-lg input {
    font-size: 24px !important;
    font-weight: bold !important;
}

/* btn lg */
.btn-lg {
    display: block;
    height: 60px;
    width: 100%;    
    color: white !important;
    background-color: #000 !important;
    border-radius: 3px !important;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

/* admin access */
.admin-access-link {
    text-decoration: none;
    color: #000;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    background: #f68d31;
    font-weight: 500;
    padding: 6px 0px;
    border-radius: 3px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}