<!-- Sidebar -->
<nav class="sidebar bg-dark shadow-sm h-100">
    <a [routerLink]="['/admin/dashboard']" class="d-block text-white p-3 text-decoration-none">Dashboard</a>
    <a [routerLink]="['/admin/gift-inventory']" class="d-block text-white p-3 text-decoration-none">Gift Inventory</a>
    <a [routerLink]="['/admin/employee-picks']" class="d-block text-white p-3 text-decoration-none">Employee Picks</a>
    <a [routerLink]="['/admin/product-reports']" class="d-block text-white p-3 text-decoration-none">Product Reports</a>
    <a [routerLink]="['/admin/settings']" class="d-block text-white p-3 text-decoration-none">Settings</a>
</nav>