.welcome-admin{
    position: absolute;
    right: 10px;
    bottom: -44px;
}

.user-profile {
    width: 40px;
    height: 40px;
    border: 1px solid white;
    background: antiquewhite;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.badge{
    border-radius: 5px;  
    padding: 10px 12px;
}

.grid-pie ngx-charts-pie-grid{
    text-align: -webkit-right;
}
.pie-chart ngx-charts-pie-chart{
    text-align: -webkit-center;
}

/* scroller */
.viewport {
    height: 135vh;  /* Adjust as needed */
    width: 100%;
    overflow: auto;
  }
