/* user */
.user-info {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.user-initials {
    /* width: 40px;
    height: 40px;
    border: 1px solid white;
    background: antiquewhite;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px; */
    width: 40px;
    height: 40px;
    border: 1px solid white;
    background: antiquewhite;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 8px;
    margin-right: 10px;
}
.description {   
    color: #555;
    margin: 10px 0;
}

.row{
    row-gap: 25px;
}