/* user */
.user-info {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.user-image {
    width: 40px;
    height: 40px;
    border: 1px solid white;
    background: antiquewhite;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
.description {   
    color: #555;
    margin: 10px 0;
}

.row{
    row-gap: 25px;
}