<section class="main-section">
    <div class="bg-gift-icon"></div>
    <div>
        <div class="main-title">
            <h4 class="title-lg">Welcome to Your <span>Rewards!</span> <span class="gif-bg"></span></h4>
            <p>Enter your detail and discover your exclusive rewards!</p>
        </div>
        <div class="access-btn">
            <a class="admin-access-link" [routerLink]="['/employee-code']">
                <span>Employee Access</span>
            </a>
            <a class="admin-access-link" [routerLink]="['/admin-login-access']">
                <span>Administrator Access</span>
            </a>    
        </div>

        <button mat-flat-button>Basic</button>        
        <a mat-flat-button class="bg-primary button-mh-56 p-3 px-5" href="https://www.google.com/" target="_blank">Link</a>
    </div>
</section>