.logo-font {
  font-size: 2rem;

}
.heading {
  font-size: 4rem;
  line-height: 1;
}
.button {
  font-size: 20px;
}
.text {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.icon{
    font-size: 22px;
}
.working-section{
    font-size: 32px;
}
.svg{
    font-size: 1.5rem;
    line-height: 2rem;
}
.logo-font2 {
    font-size: 2rem;
    line-height: 3rem;
  }
  
