<!--container-fluid section -->
<section class="container-fluid">
  <!-- header section -->
  <section>
    <header class="bg-light shadow-sm">
      <div
        class="container d-flex justify-content-between align-items-center py-3"
      >
        <div class="logo-font">
          <span class="text-dark fw-bold">Spark</span>
          <span class="text-primary">Nest</span>
        </div>
        <div>
          <a
            mat-flat-button
            href="https://www.google.com/"
            target="_blank"
            class="bg-dark py-3 shadow-sm me-2"
            >Login</a
          >
        </div>
      </div>
    </header>
  </section>
  <!-- /header section  -->

  <!-- banner section -->
  <section class="container main mt-5">
    <div class="row justify-content-center">
      <div class="col-6">
        <div class="heading fw-bold text-center">
          Unlock Your <span class="text-primary">Gift,</span> Embrace the
          <span class="text-primary">Moment!</span>
        </div>
        <div class="text text-center mt-4">
          Discover a world of rewards made just for you! Enter your unique code
          and browse a curated selection of gifts tailored to bring joy. With
          every choice, a moment of celebration awaits. Whether it’s a small
          token or a grand surprise, your perfect gift is only a click away.
          Choose, click, and celebrate with ease!
        </div>
        <div class="text-center mt-4">
          <a
            mat-flat-button
            href="https://www.google.com/"
            target="_blank"
            class="button px-5 py-4 button-mh-56 bg-dark shadow-sm mt-2"
          >
            <span>Choose & Celebrate</span
            ><mat-icon class="icon">celebration</mat-icon></a
          >
        </div>
      </div>
    </div>
  </section>
  <!-- /banner section -->
  <!-- gift-image-sction -->
  <section class="container">
    <div class="row justify-content-center text-center">
      <div
        class="col-12 mt-5 pt-5 d-flex justify-content-center align-items-center"
      >
        <div>
          <img src="assets/images/gift-heart.png" />
        </div>
        <div class="pangea">
          <div class="h4">Your Perfect Gift Awaits</div>
          <div class="dropping-texts heading fw-bold text-primary">
            <div>Choose</div>
            <div>Click</div>
            <div>Celebrate!</div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /gift-image-section -->
  <!-- instruction-section -->
  <section class="container mt-5 pt-5">
    <div class="row justify-content-center text-center mt-5 pt-5">
      <div class="col-4">
        <div class="working-section fw-bold">Here’s how it works</div>
        <div class="mt-4 fs-16">More jiving, less shucking.</div>
      </div>
    </div>
    <div
      class="row align-items-center justify-content-around text-center mt-5 pt-5"
    >
      <div class="col-4">
        <img src="assets/images/svg1.svg" />
        <h3 class="svg fw-bold">Scan the QR code</h3>
        <div>
          When it’s time to swap info, have your new contact scan your QR code
          with their phone camera..
        </div>
      </div>
      <div class="col-4">
        <img src="assets/images/svg2.svg" />
        <h3 class="svg fw-bold">Send a message</h3>
        <div>
          Your QR code is linked to a custom message you’ve created. So all they
          have to do is hit Send..
        </div>
      </div>
      <div class="col-4">
        <img src="assets/images/svg3.svg" />
        <h3 class="svg fw-bold">Scan the QR code</h3>
        <div>
          At the end of the event, you can quickly scan your inbox and reply to
          everyone you met.
        </div>
      </div>
    </div>
    <div class="row justify-content-between align-items-center mt-5 pt-5">
      <div class="col-12">
        <div class="row justify-content-center">
          <div class="col-3">
            <mat-card class="example-card p-3 bg-dark" appearance="outlined">
              <img
                mat-card-image
                src="assets/images/login-image.jpg"
                alt="Photo of a Shiba Inu"
              />
              <div class="image-card">Login with Us</div>
            </mat-card>
          </div>
          <div class="col-3">
            <mat-card class="example-card p-3 bg-dark" appearance="outlined">
              <img
                mat-card-image
                src="assets/images/gift-selection.png"
                class="bg-light"
                alt="Photo of a Shiba Inu"
              />
              <div class="image-card">Discover your Gifts</div>
            </mat-card>
          </div>
          <div class="col-3">
            <mat-card class="example-card p-3 bg-dark" appearance="outlined">
              <img
                mat-card-image
                src="assets/images/gifts.png"
                class="bg-light"
                alt="Photo of a Shiba Inu"
              />
              <div class="image-card">Choose your Gift</div>
            </mat-card>
          </div>
          <div class="col-3">
            <mat-card class="example-card p-3 bg-dark" appearance="outlined">
              <img
                mat-card-image
                src="assets/images/gift-announcement.png"
                class="bg-light"
                alt="Photo of a Shiba Inu"
              />
              <div class="image-card">Celebrate</div>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="text-center mt-4">
          <a
            mat-flat-button
            href="https://www.google.com/"
            target="_blank"
            class="button px-5 py-4 button-mh-56 bg-dark shadow-sm mt-4"
          >
            <span>Choose & Celebrate</span
            ><mat-icon class="icon">celebration</mat-icon></a
          >
        </div>
      </div>
    </div>
  </section>
  <!-- /instruction-section -->
  <!-- footer section -->
  <section class="container mt-5 pt-5 mb-5 pb-5">
    <footer>
      <div class="row justify-content-center text-center">
        <div class="col-4">
          <div class="logo-font2">
            <span class="text-dark fw-bold">Spark</span>
            <span class="text-primary">Nest</span>
          </div>
          <p>Unlock Your Gift, Embrace the Moment!</p>
        </div>
      </div>
      <div class="d-flex justify-content-center align-items-center mt-1">
        <div class="d-flex justify-content-center align-items-center mt-3">
          <mat-icon class="icon">copyright</mat-icon>2024 All rights are
          reserved by SparkNest
        </div>
      </div>
    </footer>
  </section>
  <!-- /footer section -->
  <!-- /container section -->
</section>
<!--/container-fluid section -->
