/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

/*snackbar-error*/
.snackbar-error .mat-mdc-snackbar-surface {
    background-color: #D00000 !important;
}

/*snackbar-success*/
.snackbar-success .mat-mdc-snackbar-surface {
    background-color: green !important;
}