.mat-mdc-form-field{
    min-width: 300px !important;
}

.badge{
    border-radius: 5px;  
    padding: 3px 7px;
}

/* delete icon */
button:disabled .delete-icon {
    fill: gray !important; /* Change to desired color */
  }
