.mat-mdc-form-field{
    min-width: 300px !important;
}

.badge{
    border-radius: 5px;  
    padding: 3px 7px;
}

.completed{
  border-radius: 50px;
  padding: 10px 15px;
  background-color: #096e0933;
}

.pending{
  border-radius: 50px;
  padding: 10px 15px;
 background-color: #e9af0b36;
}
.disabled {
    pointer-events: none;    
  }

  /* copy */
.copy-text{
    font-size: 20px;    
    right: 10px;  
    border-radius: 5px;  
    padding: 3px 7px;
    font-weight: 500;
    bottom: 1px;
  }

  mat-icon.copy-icon:hover{
    cursor: pointer;
  }

  mat-icon.copy-icon{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px !important;
  }
  /* /copy */

