.curve-image{
    transform: rotate(122deg);    
      z-index: 9;
      left: -140px;
      top: -65px;
  }

  .gift-man{
    bottom: -20px;
    left: -100px;
  }

  .emp-code-card{
    margin-top: 150px;
  }

  .emp-details{
    margin-left: 250px;
  }
  