.curve-image{
    transform: rotate(122deg);    
      z-index: 9;
      left: -140px;
      top: -65px;
  }

  .gift-man{
    bottom: -12px;
    left: 10px;
  }

  .emp-code-card{
    margin-top: 200px;
  }

  .emp-details{
    margin-left: 250px;
  }
  