.curve-image{
    transform: rotate(122deg);    
      z-index: 9;
      left: -140px;
      top: -65px;
  }

  .gift-man{
    bottom: -15px;
    left: -170px;
  }

  .emp-code-card{
    margin-top: 150px;
  }

  .emp-details{
    margin-left: 125px;
  }
  
  .emp-code-label{
    font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  text-transform: uppercase;
  }

  