.curve-image{
    transform: rotate(122deg);    
      z-index: 9;
      left: -140px;
      top: -65px;
  }
  
  #fileInput {  
    z-index: 10;
    opacity: 0;
    height: 100%;
    left: 0px;
    top: 0px;
  }
  
  .delete-btn:hover {
    cursor: pointer !important;
    color: #ba1a1a;
  }
  
  /* == reward css style == */
  .badge {
    padding: 7px 14px;
    border-radius: 25px;
  }
  
  button.button-mh-60.mat-mdc-button-disabled {
    color: white;
  }
  
  
  
  
  
  
  
  
  
  