<section class="background-overlay">
    <section class="select-gift-page">
        <div class="main-title">
            <h4 class="title-lg">Choose Your Gift Voucher!</h4>
            <p>Please select one gift from the options below. Keep in mind that you can only choose one item, and once
                you
                submit your selection, it cannot be changed. Be sure to make your choice before the deadline, as late
                submissions will not be accepted. Choose wisely and enjoy your reward!</p>
        </div>
        <!-- voucher-card -->
        <div class="voucher-card-row">
            <div class="voucher-card">
                <div class="product-img"><a href="single-product.html"><img
                            src="https://template.hasthemes.com/hurst-v1/hurst/img/product/5.jpg" alt=""
                            width="100%" /></a>
                </div>
                <div class="product-info">
                    <div>
                        <div class="product-title">Wooden Table</div>
                        <p class="product-description"><small>This is a small size wooden table. Suitable for small sofa
                                set and chairs.</small></p>
                    </div>
                    <div class="product-code">
                        <span class="product-code-title">Code : </span>
                        <span class="product-code-number">PROD658</span>
                    </div>
                    <button mat-flat-button class="btn-md">Claim Gift</button>
                </div>
            </div>

            <div class="voucher-card">
                <div class="product-img"><a href="single-product.html"><img
                            src="https://template.hasthemes.com/hurst-v1/hurst/img/product/5.jpg" alt=""
                            width="100%" /></a>
                </div>
                <div class="product-info">
                    <div>
                        <div class="product-title">Wooden Table</div>
                        <p class="product-description"><small>This is a small size wooden table. Suitable for small sofa
                                set and chairs.</small></p>
                    </div>
                    <div class="product-code">
                        <span class="product-code-title">Code : </span>
                        <span class="product-code-number">PROD658</span>
                    </div>
                    <button mat-flat-button class="btn-md">Claim Gift</button>
                </div>
            </div>

            <div class="voucher-card">
                <div class="product-img"><a href="single-product.html"><img
                            src="https://template.hasthemes.com/hurst-v1/hurst/img/product/5.jpg" alt=""
                            width="100%" /></a>
                </div>
                <div class="product-info">
                    <div>
                        <div class="product-title">Wooden Table</div>
                        <p class="product-description"><small>This is a small size wooden table. Suitable for small sofa
                                set and chairs.</small></p>
                    </div>
                    <div class="product-code">
                        <span class="product-code-title">Code : </span>
                        <span class="product-code-number">PROD658</span>
                    </div>
                    <button mat-flat-button class="btn-md">Claim Gift</button>
                </div>
            </div>

            <div class="voucher-card">
                <div class="product-img"><a href="single-product.html"><img
                            src="https://template.hasthemes.com/hurst-v1/hurst/img/product/5.jpg" alt=""
                            width="100%" /></a>
                </div>
                <div class="product-info">
                    <div>
                        <div class="product-title">Wooden Table</div>
                        <p class="product-description"><small>This is a small size wooden table. Suitable for small sofa
                                set and chairs.</small></p>
                    </div>
                    <div class="product-code">
                        <span class="product-code-title">Code : </span>
                        <span class="product-code-number">PROD658</span>
                    </div>
                    <button mat-flat-button class="btn-md">Claim Gift</button>
                </div>
            </div>
        </div>
        <!-- /voucher-card -->
    </section>
</section>