.background-overlay {
    background-color: #eef0f4;
    min-height: 100vh;
}

.select-gift-page {
    width: 900px;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 100px;
}

/* main title */
.main-title {
    margin-bottom: 50px;
}

/* title lg */
.title-lg {
    font-weight: bold;
    margin-bottom: 5px;
}

/* voucher-card */
.voucher-card-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.voucher-card {
    background: #fff;
    width: 28%;
    padding: 15px;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    margin-bottom: 20px;
    position: relative;
}

.product-img {
    overflow: hidden;
    position: relative;
}

.product-title {
    font-weight: 500;
}

.select-voucher-opacity{
    opacity: 0.05;
}

.checked-svg{
    position: absolute;    
    left: 25%;
    top: 25%;
}

/* btn lg */
.btn-md {
    display: block;
    height: 40px;
    width: 100%;
    color: white !important;
    background-color: #000 !important;
    border-radius: 3px !important;
    letter-spacing: 1px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.product-code {
    border: 1px dashed #000;
    width: fit-content;
    padding: 4px 8px;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 10px;
}