<section class="background-overlay">
    <section class="select-gift-page">
        <div class="main-title">
            <h4 class="title-lg">Choose Your Gift Voucher!</h4>
            <p>Please select one gift from the options below. Keep in mind that you can only choose one item, and once
                you
                submit your selection, it cannot be changed. Be sure to make your choice before the deadline, as late
                submissions will not be accepted. Choose wisely and enjoy your reward!</p>
        </div>
        <!-- voucher-card -->
        <div class="voucher-card">
           <div class="voucher-card-picture">
            src/app/pages/select-gift-voucher/select-gift-voucher.component.ts (296 bytes)
            src/app/pages/select-gift-voucher/select-gift-voucher.component.ts (296 bytes)
            src/app/pages/select-gift-voucher/select-gift-voucher.component.ts (296 bytes)
           </div>
           <div class="voucher-card-description">
            D:\Workspace\gift-voucher-mean-stack\client\webUI\src\app\pages> 
            D:\Workspace\gift-voucher-mean-stack\client\webUI\src\app\pages> 
            D:\Workspace\gift-voucher-mean-stack\client\webUI\src\app\pages> 
            D:\Workspace\gift-voucher-mean-stack\client\webUI\src\app\pages> 
            
           </div>
        </div>
        <!-- voucher-card -->        
    </section>
</section>