<!-- container-section -->
<section class="container-fluid p-0 vh-100 d-flex justify-content-between my-auto bg-light">
  <!-- main-section -->
  <section class="container  d-flex justify-content-center align-items-center">
    <div class="row justify-content-center align-items-center">
      <div class="col-5">
        <div class="banner-font fw-bold">
          <div class="text-primary"><span>Awesome!</span></div>
          <div>Your Selected Gift.</div>
        </div>
        <p class="mt-4">
          You’ve made a great choice! Your selected gift is displayed here, just as you picked it. We hope it brings
          you joy and makes your day extra special.
        </p>
        <div class="col d-flex justify-content-center mt-4">
          <button mat-flat-button class="px-5 py-4 button-mh-60 bg-dark shadow-sm" (click)="logOut()">
            <mat-icon>keyboard_backspace</mat-icon> <span>Back to Home</span>
          </button>
        </div>
      </div>
      <!-- product-section -->
      <div class="col-4">
        <mat-card class="bg-light shadow-sm  p-3 bg-white" appearance="outlined">
          <mat-card-content>
            <span class="badge shadow-sm bg-dark text-white fs-12">{{product.couponCode}}</span>
            <div class="d-flex justify-content-center my-5">
              <img mat-card-image height="200" width="200" [src]="product.productImageDetails.imageUrl" />
            </div>
            <div>
              <div>{{product.productTitle}}</div>
              <div class="fs-12">{{product.productDescription}}</div>
            </div>
            <div>
              <button mat-flat-button class="button-mh-60 py-4 shadow-sm w-100 bg-dark mt-2 claim-gift-btn">
                <mat-icon>celebration</mat-icon>Claim Reward
              </button>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <!-- /product-section -->
    </div>
  </section>
  <!-- /main-section -->
</section>
<!-- /container-section -->